.notifications {
  border: 1px dashed #e1003c;
  padding: 10px;
  margin-bottom: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1em;
  color: black;
  text-align: left;
  position: relative;
}

.notifications p {
  margin: 0;
}

.notifications ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.notifications ul li {
  margin-bottom: 5px;
}

.notifications ul li[data-priority="default"] {
  color: blue;
}

.notifications ul li[data-priority="urgent"] {
  color: red;
}

.notifications-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; 
}

.notifications-button img {
  width: 15px;
  height: 15px;
}
