
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.App-header {
  display: flex;
  align-items: center; 
  padding: 10px 20px;
  border-bottom: 3px solid #e1003c;
  box-sizing: border-box;

  background-color: white;
}

.App-header img.App-logo {
  height: 150px; 
  margin-right: 15px; 
  width: auto;
}

.App-header h1 {
  color: #e1003c; 
  font-size: 2em; 
  margin: 0; 
  white-space: nowrap; 
}

.App-body {
  flex-grow: 1; 
  padding: 30px 20px;
  text-align: left; 
  font-size: 1.1em;
}

.App-body p {
  margin: 0;
}


.App-footer {
  border-top: 3px solid #e1003c;
  padding: 10px 20px;
  font-style: italic;
  font-size: 1em;
  text-align: center; 
  box-sizing: border-box;
}